<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add connectionString="data source=DESKTOP-4LCETNF\SQLEXPRESS;initial catalog=School;trusted_connection=true" name="myConnectionString" />
    <add name="SchoolEntities" connectionString="metadata=res://*/Model.EntityLayer.DataModel.csdl|res://*/Model.EntityLayer.DataModel.ssdl|res://*/Model.EntityLayer.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4LCETNF\SQLEXPRESS;initial catalog=School;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SchoolEntities1" connectionString="metadata=res://*/Model.DataAccessLayer.ProcedureModels.csdl|res://*/Model.DataAccessLayer.ProcedureModels.ssdl|res://*/Model.DataAccessLayer.ProcedureModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4LCETNF\SQLEXPRESS;initial catalog=School;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="entityDataModel" connectionString="metadata=res://*/Model.EntityLayer.EntityDataModel.csdl|res://*/Model.EntityLayer.EntityDataModel.ssdl|res://*/Model.EntityLayer.EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4LCETNF\SQLEXPRESS;initial catalog=School;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SchoolEntities2" connectionString="metadata=res://*/Model.DataAccessLayer.ProceduresModels.csdl|res://*/Model.DataAccessLayer.ProceduresModels.ssdl|res://*/Model.DataAccessLayer.ProceduresModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4LCETNF\SQLEXPRESS;initial catalog=School;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SchoolEntities3" connectionString="metadata=res://*/Model.SchoolModels.csdl|res://*/Model.SchoolModels.ssdl|res://*/Model.SchoolModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4LCETNF\SQLEXPRESS;initial catalog=School;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>